<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flab.commerce.domain.menu.MenuMapper">
  <insert id="register" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO menu(name, image, price, store_id, create_date_time, modify_date_time)
    VALUES (#{name}, #{image}, #{price}, #{storeId}, #{createDateTime}, #{modifyDateTime});
  </insert>

  <select id="findById" resultType="com.flab.commerce.domain.menu.Menu">
    SELECT *
    FROM menu
    WHERE id = #{id};
  </select>

  <select id="findByStoreId" resultType="com.flab.commerce.domain.menu.Menu">
    SELECT *
    FROM menu
    WHERE store_id = #{storeId};
  </select>

  <delete id="deleteByIdAndStoreId">
    DELETE
    FROM menu
    WHERE id = #{id}
      AND store_id = #{storeId};
  </delete>

  <select id="idAndStoreIdExists" resultType="com.flab.commerce.domain.menu.Menu">
    SELECT EXISTS(SELECT 1 FROM menu WHERE id = #{id} AND store_id = #{storeId})
  </select>
</mapper>
