<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flab.commerce.domain.option.OptionMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.commerce.domain.option.Option">
    INSERT INTO options (name, price, option_group_id, create_date_time, modify_date_time)
    VALUES (#{name}, #{price}, #{optionGroupId}, #{createDateTime}, #{modifyDateTime});
  </insert>

  <select id="findById" resultType="com.flab.commerce.domain.option.Option"
    parameterType="java.lang.Long">
    SELECT *
    FROM options
    WHERE id = #{id};
  </select>

  <update id="update" parameterType="com.flab.commerce.domain.option.Option">
    UPDATE options
    SET name             = #{name},
        price            = #{price},
        modify_date_time = #{modifyDateTime}
    WHERE id = #{id};
  </update>

  <select id="idExists" resultType="java.lang.Boolean" parameterType="java.lang.Long">
    SELECT EXISTS(SELECT 1 FROM options WHERE id = #{id});
  </select>

  <select id="idAndOptionGroupIdExists" resultType="java.lang.Boolean"
    parameterType="java.lang.Long">
    SELECT EXISTS(SELECT 1 FROM options WHERE id = #{id} AND option_group_id = #{optionGroupId});
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    DELETE
    FROM options
    WHERE id = #{id};
  </delete>

  <select id="findByIdIn" resultType="com.flab.commerce.domain.option.Option">
    SELECT *
    FROM options
    WHERE id IN (<foreach collection="ids" item="id" separator=",">#{id}</foreach>);
  </select>
</mapper>
