<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flab.commerce.domain.owner.OwnerMapper">

  <insert id="register" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO owner(email, password, name, phone, create_date_time, update_date_time)
    VALUES (#{email}, #{password}, #{name}, #{phone}, #{createDateTime}, #{updateDateTime})
  </insert>

  <select id="findByEmail" resultType="com.flab.commerce.domain.owner.Owner">
    SELECT id, email, password, name, phone, create_date_time, update_date_time
    FROM owner
    WHERE email = #{email};
  </select>
</mapper>
