<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flab.commerce.domain.store.StoreMapper">

  <insert id="register" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.flab.commerce.domain.store.Store">
    INSERT INTO store(name, phone, address, status, description, image, owner_id, create_date_time,
                      modify_date_time)
    VALUES (#{name}, #{phone}, #{address}, #{status}, #{description}, #{image}, #{ownerId},
            #{createDateTime}, #{modifyDateTime});
  </insert>

  <select id="idExists" resultType="java.lang.Boolean">
    SELECT EXISTS(SELECT 1 FROM store WHERE id = #{id});
  </select>

  <select id="idAndOwnerIdExists" resultType="java.lang.Boolean">
    SELECT EXISTS(SELECT 1 FROM store WHERE id = #{storeId} AND owner_id = #{ownerId});
  </select>
</mapper>
