<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flab.commerce.mapper.UserMapper">
    <insert id="insertUser">
        insert into user(password, email, name, phone, zipcode, address, create_date, modify_date)
        values (#{password}, #{email}, #{name}, #{phone}, #{zipcode}, #{address}, now(), now())
    </insert>

    <select id="existEmail" resultType="boolean">
        select exists(select email from user where email = #{email})
    </select>
</mapper>